In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"2040baselineoutputs_231025.csv") #using look3, ignoring some fields such as carCO2
df=df.sample(20000)
df.to_csv("20000_sample.csv")

C:\Users\maria\AppData\Local\Temp\ipykernel_28604\2892177708.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"2040baselineoutputs_231025.csv") #using look3, ignoring some fields such as carCO2

In [3]:
df = pd.read_csv(r"2040_no_time_innovation.csv") #using look3, ignoring some fields such as carCO2

C:\Users\maria\AppData\Local\Temp\ipykernel_28604\1461741396.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"2040_no_time_innovation.csv") #using look3, ignoring some fields such as carCO2

In [4]:
df.head(10)

,id,age,age_group,area_type,carAvail,car_avail,car_competition,disabled,ev,gender,...,unselected plan (3) routes,unselected plan (3) number,unselected plan (3) utility,unselected plan (4) activity_type_or_mode,unselected plan (4) distance_travelled,unselected plan (4) duration,unselected plan (4) location,unselected plan (4) routes,unselected plan (4) number,unselected plan (4) utility
0,0,2.0,0 to 4,urban,True,yes,1.0,no,False,female,...,177735 430981 608149 285565 354346 545148 5177...,3,177.160982,home; car_passenger; visit; car_passenger; esc...,N/A; 7358.253597826362; N/A; 11033.09635597616...,12:18:00; 00:08:02; 14:58:00; 00:12:07; 15:22:...,"547763.0,179596.0; N/A; 551526.0,177143.0; N/A...",177735 430981 608149 285565 354346 545148 5177...,4,177.112829
1,1,2.0,0 to 4,urban,True,yes,1.0,no,True,female,...,317324 335505 5177070778124003811_517707077821...,3,181.305117,home; car_passenger; visit; car_passenger; esc...,N/A; 13728.29385784455; N/A; 6474.749133233797...,12:25:00; 00:16:23; 15:00:00; 00:12:49; 15:23:...,"545794.0,185476.0; N/A; 540413.0,189042.0; N/A...",317324 335505 5177070778124003811_517707077821...,4,181.284863
2,10,44.0,40 to 49,urban,True,yes,1.0,no,True,female,...,5177067620482921595_5177067620488881571 517706...,2,215.601821,home; car_passenger; work; car_passenger; home,N/A; 10647.169861936316; N/A; 15419.5486117388...,08:15:00; 00:23:10; 17:50:00; 00:20:02; 24:00:00,"547002.0,192470.0; N/A; 538670.0,191706.0; N/A...",5177067620482921595_5177067620488881571 517706...,3,215.540699
3,100,34.0,30 to 39,urban,False,never,0.0,no,False,female,...,162388->5177094122208221925_517709412220822192...,3,2.728907,medical; walk; pt interaction; walk; pt intera...,N/A; 2148.2956546485534; N/A; 0.0; N/A; 767.79...,14:40:00; 00:42:57; N/A; 00:00:01; N/A; 00:03:...,"553909.0,186473.0; N/A; 555542.44048216,186686...",162388->5177094122208221925_517709412220822192...,4,-7.088292
4,1000,62.0,60 to 64,urban,False,never,0.0,no,False,male,...,174083->5177300519274867495_517730052571278956...,2,194.749508,home; walk; pt interaction; walk; pt interacti...,N/A; 1057.1999825143052; N/A; 0.0; N/A; 1149.6...,11:00:00; 00:21:08; N/A; 00:00:01; N/A; 00:04:...,"630010.0,236158.0; N/A; 629272.3482159581,2357...",174083->5177300766119999273_517730076611999927...,4,194.187711
5,10000,2.0,0 to 4,urban,True,yes,2.0,no,True,male,...,531226 608260 337390 5176960833627326291_51769...,2,186.591405,home; car_passenger; shop; car_passenger; shop...,N/A; 1719.1060352737154; N/A; 633.332072665267...,09:00:00; 00:03:45; 10:30:00; 00:01:00; 11:15:...,"563492.0,264368.0; N/A; 564107.0,263218.0; N/A...",531226 608260 337390 5176960833627326291_51769...,3,186.618173
6,100000,54.0,50 to 59,rural,True,yes,1.0,no,True,female,...,5176721554533803023_5176721554535575687->51767...,2,225.745972,home; walk; work; walk; home,N/A; 583.3568033373743; N/A; 583.3568033373743...,07:20:00; 00:11:40; 17:00:00; 00:11:40; 24:00:00,"608623.0,338805.0; N/A; 608465.0,338385.0; N/A...",5176721554533803023_5176721554535575687->51767...,3,225.745972
7,100001,54.0,50 to 59,rural,True,yes,1.0,no,False,female,...,39854 5176981272251029697_5176981949570395727 ...,2,201.856605,home; car; work; car; home,N/A; 28725.708106979382; N/A; 28016.6655697866...,07:20:00; 00:29:27; 17:00:00; 00:34:23; 24:00:00,"586974.0,242513.0; N/A; 586533.0,265280.0; N/A...",39854 5176981272251029697_5176981949570395727 ...,3,201.303836
8,100002,54.0,50 to 59,rural,True,yes,1.0,no,True,female,...,3046 5177006351409230883_5177006350913184773 1...,3,214.199709,home; car; work; car; home,N/A; 20504.73894184491; N/A; 24550.5337175517;...,07:30:00; 00:19:26; 17:15:00; 00:20:37; 24:00:00,"558669.0,266962.0; N/A; 573716.0,271641.0; N/A...",3046 5177006351409230883_5177006350913184773 1...,4,214.583329
9,100003,54.0,50 to 59,rural,True,yes,1.0,no,False,female,...,332172 5176997158002477739_5176997049687574549...,3,107.719333,home; car; work; car; home,N/A; 130811.81453319377; N/A; 115535.314937094...,07:30:00; 01:17:47; 17:15:00; 01:43:51; 24:00:00,"553012.0,247197.0; N/A; 507598.0,175832.0; N/A...",332172 5176997158002477739_5176997049687574549...,4,112.244311

In [4]:
df=df.sample(20000)
df.to_csv("NTI_20000_sample_routes.csv")